html body {
  	background-color: #232323;
	margin: 0;
}

body h1 {
	font-family: Lato;
	line-height: 1.1;
	text-align: center;
	color: white;
	background-color: crimson;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0px;
	transition: background-color 0.7s;
	font-size: 15px;
}

body h1 span {
	font-size: 3.5em;
}

.squares {
  	width: 20%;
  	background-color: #232323;
  	padding-bottom: 15%;
  	float: left;
  	margin: 1.66% 6.66%;
	border-radius: 25%;
	transition: background-color 0.7s;
}

.selected {
	color: white;
	background-color: crimson;
}

p {
	color: white;
	font-size: 150%;
	text-align: center;
	font-family: Ubuntu;
}

#stripe {
	text-align: center;
	background-color: white;
}

#messageDisplay {
	display: inline-block;
	width: 30%;
}

#container {
  	max-width: 700px;
  	margin: 20px auto;
}

#colorDisplay {
	text-transform: uppercase;
}

body button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: crimson;
	letter-spacing: 1px;
	transition: all 0.3s;
	outline: none;
}

body button:hover {
	color: white;
	background-color: crimson;
}

.myAnimated {
	animation-duration: 0.7s;
}